/******************************************************************************************************************

                                            dbt_Sectiondeux


*******************************************************************************************************************/





#sectionblogimage {
min-height: 400px;

}
 #sectionblogimage .imageblogd {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    
}



/******************************************************************************************************************

                                            fin_Sectiondeux


*******************************************************************************************************************/